:root {
    --theme-background: #fff;
    --theme-text: #000;
    --theme-anchor: #06c;
}
@media (prefers-color-scheme: dark) {
    :root {
        --theme-background: #000;
        --theme-text: #fff;
        --theme-anchor: #51d6ff;
    }
}
body, html {
    width: 100%;
    height: 100%;

    font-family: 'Libre Franklin', sans-serif;

    background-color: var(--theme-background, initial);
    color: var(--theme-text, initial);
}

a {
    color: var(--theme-anchor, initial);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}