/* default & light mode */
:root {
    --theme-background-light: #fbfbfb;
    --theme-background-dark: #0d0d15;
    
    --theme-text-light: #161716;
    --theme-text-dark: #fbfbfb;
    
    --theme-anchor-light: #06c;
    --theme-anchor-dark: #51d6ff;
    
    --theme-anchor-hover-light: #06c;
    --theme-anchor-hover-dark: #51d6ff;

    --theme-green: #00b84d;
    --theme-orange: #ee6c4d;
    --theme-light-orange: #f38d68;
    --theme-blue: #51d6ff;

    /* light mode */
    --theme-background:     var(--theme-background-light);
    --theme-text:           var(--theme-text-light);
    --theme-anchor:         var(--theme-anchor-light);
    --theme-anchor-hover:   var(--theme-anchor-hover-light);
}
@media (prefers-color-scheme: dark) {
    :root {
        /* dark mode */
        --theme-background:     var(--theme-background-dark);
        --theme-text:           var(--theme-text-dark);
        --theme-anchor:         var(--theme-anchor-dark);
        --theme-anchor-hover:   var(--theme-anchor-hover-dark);
    }
}
body, html {
    width: 100%;
    height: 100%;

    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.075rem;

    background-color: var(--theme-background, initial);
    color: var(--theme-text, initial);
}

a {
    color: var(--theme-anchor, initial);
    text-decoration: none;
}
a:hover {
    color: var(--theme-anchor-hover, initial);
    text-decoration: underline;
}